@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500&family=Playfair+Display:wght@400;500&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
}

.atas {
    height: 700px;
    width: 100%;
    background-size: cover;
    background-image: url('../img/bg-wk.png');
    
}

.headernav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-right: 60px;
    margin-left: 90px;
    margin-bottom: 40px;
}

.logo {
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    display: flex;
    letter-spacing: 1px;
}

.navbar {
    margin-top: 5px;
}

.navbar li {
    display: inline;
    margin: 0px 20px 0px 20px;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
}


.bg-wk {
    margin-top: -10px;
    width: 100%;
    display: flex;
    background-size: cover;
    background-position: center;
}

.welcome {
    margin-top: 130px;
    margin-left: 92px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
}

.ppdb-hl {
    padding-top: 2px;
    margin-left: 92px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: -10px;
}

.segera {
    padding-top: 8px;
    margin-bottom: 60px ;
    margin-left: 92px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: -10px;
}

.button-daftar {
    padding: 10px 20px 10px 20px;
    margin-right: 1145px;
    margin-bottom: 254px;
    border-radius: 100px;
    background-color: #0027BC;
    margin-left: 92px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    margin-top: -10px;
}

.button-daftar a{
    text-decoration: none;
    color: white;
}


.majors {
    height: 500px;
    display: inline-grid;
}

