@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Oswald:wght@300;400;500&family=Playfair+Display:wght@400;500&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
}

.navbar {
    height: 50px;
    background-color: #363062;
    padding-top: 25px ;
    display: cover;
}

.navbar p{
    display: inline;
    
}

.judul-navbar {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-right: 1028px;
    padding-right: 50px;
    color: #FFFFFF;
    display: flex;
}

.delete {
    margin: 0px 5px 0px 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    padding: 8px 16px 8px 16px;
    border-radius: 3px;
    border-left: 2px solid #C65959;
}

.linkdelete {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.linkdelete:hover {
    background-color: #FFFFFF;
    color: #C65959;
    font-weight: 500;
}

.addnew {
    margin: 0px 5px 0px 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    padding: 8px 10px 8px 10px;
    border-radius: 3px;
    border-left: 2px solid #4DA741;
}

.linkadd {
    text-decoration: none;
    font-weight: 500;
    color: #000000;
}

.linkadd:hover {
    color: #4DA741;
    font-weight: 500;
    text-decoration: none;
}
